<div *ngIf="isLogin">
  <div class="border-success border-top"></div>
  <div class="border-success border-top"></div>
  <div class="footer container text-center mt-4 mr-3">
    <a routerLink="/" href="" class="p-2"><i class="fab fa-facebook-f"></i></a>
    <a routerLink="/" href="" class="p-2 ml-3"
      ><i class="fab fa-instagram"></i
    ></a>
    <a routerLink="/" href="" class="p-2 ml-3"
      ><i class="fab fa-twitter"></i
    ></a>
    <a routerLink="/" href="" class="p-2 ml-3"><i class="fab fa-github"></i></a>
    <a routerLink="/" href="" class="p-2 ml-3"
      ><i class="fab fa-youtube"></i
    ></a>
    <a routerLink="/" href="" class="p-2 ml-3"
      ><i class="fab fa-google"></i>
    </a>
    <a routerLink="/" href="" class="p-2 ml-3"
      ><i class="fab fa-linkedin-in"></i
    ></a>
  </div>

  <!-- Copyright -->
  <div
    class="text-center p-2 pb-4 mt-3 rounded-top"
    style="background-color: lightgrey;
    "
  >
    © {{thisYear()}}  -  Copyright MSCreative
  </div>
</div>
