<div class="row">
  <div class="col-2"></div>
  <div class="col-4">
    <form
      novalidate
      autocomplete="off"
      [formGroup]="signupForm"
      (ngSubmit)="onSubmit()"
    >
      <div class="text-center mb-4">
        <h1 class="h3 mb-3 font-weight-normal">
          COMPANY
          <i class="fas fa-angle-double-up"></i>
          CRM
        </h1>
        <p>Sign Up with a new account</p>
      </div>

      <div class="form-group mb-4">
        <div class="alert alert-danger" *ngIf="errorMassage" role="alert">
          {{ errorMassage }}
        </div>
        <div class="form-group">
          <input
            type="email"
            placeholder="Email"
            id="email"
            class="form-control"
            formControlName="email"
            [ngClass]="{
              'is-invalid':
              signupForm.get('email')?.errors &&
              signupForm.get('email')?.touched
            }"
          />
          <div
            [hidden]="!signupForm.get('email')?.errors?.required"
            class="invalid-feedback"
          >
            value is required
          </div>
          <div
            [hidden]="!signupForm.get('email')?.errors?.email"
            class="invalid-feedback"
          >
            valid email is required
          </div>
        </div>
      </div>
      <div class="form-group mb-4">
        <div class="form-group">
          <input
            type="password"
            placeholder="password"
            id="password"
            class="form-control"
            formControlName="password"
            [ngClass]="{
              'is-invalid':
              signupForm.get('password')?.errors &&
              signupForm.get('password')?.touched
            }"
          />
          <div
            [hidden]="!signupForm.get('password')?.errors?.required"
            class="invalid-feedback"
          >
            value is required
          </div>
          <div
            [hidden]="!signupForm.get('password')?.errors?.email"
            class="invalid-feedback"
          >
            valid password is required
          </div>
        </div>
      </div>
      <button
        type="submit"
        [disabled]="!signupForm.valid"
        class="btn btn-lg btn-primary btn-block"
      >
        SignUp
      </button>

    </form>

    <div class="container text-center mt-5">
      <p class="h6">Do you have an account already? </p>
      <button class="btn btn-info btn-sm" (click)="routeToLogin()">SignIn</button>

      <p class="mt-5 mb-3 text-muted text-center">&copy; 2020-2056</p>
  </div>
</div>
